<link rel="stylesheet" href="/css/sign_in.css" />
<div class="container">
  <form action="/user/create-session" method="POST" class="signin-form">
    <div class="input">
      <input type="email" name="emailId" placeholder="Email" required />
    </div>
    <div class="input">
      <input type="password" name="password" placeholder="password" required />
    </div>
    <div class="button">
      <input class="btn" type="submit" value="Sign in" />
    </div>
  </form>
</div>
